html{
    scroll-behavior: smooth;
    font-family: 'Outfit';
}
body{
    margin: 5;
    padding: 0;
}
.achoix{
    text-decoration: none;
    outline: none;
    color: white;
}
.areservation{
    text-decoration: none;
    outline: none;
    color: white;
}
.aresservation:visited{
    color: white;
}
header{
    position: sticky;
    border-radius: 5px;
    background-color: #00243B;
    top: 0px;
    z-index: 1;
}
footer{
    background-color: #00243B;
    border-radius: 5px;
    bottom: 0;
}
.header,.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    color: white;
}
.bonhomme{
    margin-right: 10px;
}
.loupe{
    margin-right: 10px;
}
.espaceclient{
    margin-right: 15px;
}
.reservation{
    margin-right: 15px;
}
.accueil{
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.accueil:hover,.solutions:hover,.pourquoi:hover{
    transition: all .25s ease-in-out;
    background-color: #00AEEF;
    border-radius: 10px;
}
.pourquoi{
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.solutions{
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.pageaccueil,.raison{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.logo{
    margin-right: 20px;
}
.logo2{
    width: 24px;
    height: 24px;
}
.image2{
    margin-left: 20px;
}
.image2>img{
    border-radius: 5px;
}
.description,.textepourquoi{
    width: 500px;
}
.titre,.titre2{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
.texte,.texte2{
    text-align: justify;
    line-height: normal;
    font-size: large;
}
.map{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.covoiturages>p{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}
iframe{
    display: inline;
    padding: 20px;
}
